<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
  <body>
    Hello {{ user_nickname }}
    {% if match %} Applying Match: <b> {{ match }} </b> {% endif %}
    {% if matching_actions %}
    <table>
      <tr>
	<th> Action Words </th>
	<th> Added Date </th>
      </tr>
      {% for action in matching_actions %}
      <tr {%if action.key.id() == highlight_key %} style='background: #EDEB61' {% endif %}>
	<td> <a href="{{ action.redirect_link }}">{{action.getActionwordsAsString()}}</a> </td>
	<td>{{ action.date.strftime('%Y-%m-%d') }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    <form action="{{Constants.LIST_PAGE_PATH}}" method="post">
      <div>Match: <input size="80" name="{{Constants.MATCH_PARAM}}" value="{{match}}"/> <input type="submit" value="Match!"/></div>
    </form>
    <script type="text/javascript">
      var matchInput = $('input[name={{Constants.MATCH_PARAM}}]');
      if (matchInput.val()) {
        matchInput.focus();
      }
    </script>
      
      
  </body>
</html>
{% endautoescape %}
